@import '../../../node_modules/antd/lib/style/themes/index.less';

.menu {
    border-right: 0;
}

:global {
    .ant-layout {
        height: 100%;
    }
    .ant-layout-content {
        height: 100%;
    }

    #root {
        height: 100%;
    }
}